<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SpeechKey" value="yourBingSpeechKey"/>
    <add key="LuisSubscriptionID" value="yourLuisSubsrciptionID" />
    <add key="LuisAppID" value="yourLuisAppID" />
    <add key="AuthenticationUri" value="" />
  </appSettings>
</configuration>